<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewCustomer()">New Customer</button>
    </div>
</div>
<hr>



  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">Name</th>
          <th scope="col">Id Number</th>
        </tr>
      </thead>
      <tbody>
        <tr app-customer-item
        [routerLink]="[customerEl.id]"
        routerLinkActive="active"
        *ngFor="let customerEl of customers; let i = index"
        [customer]="customerEl"></tr>
      </tbody>
    </table>
  </div>